extends ../../common/order

block append order
  .col-sm-6.align-self-md-center
    .card.z-depth-0.transparent.text-white
      h2.card-title.proxima-nova-font.text-uppercase.mb-4.
        trade fast and smart with fx bolt
      .row
        .col-lg-6
          ul
            li.icon-bar-item.d-flex.flex-row.mb-2
              img.img-fluid(src=require('assets/img/icons/0ms-latency-to-ny4-data-center.svg'))
              p.icon-description.my-auto.ml-2 0 ms Latency to NY4 Data Center
            li.icon-bar-item.d-flex.flex-row.mb-2
              img.img-fluid(src=require('assets/img/icons/unlimited-clicks.svg'))
              p.icon-description.my-auto.ml-2 Unlimited Clicks
            li.icon-bar-item.d-flex.flex-row.mb-2
              img.img-fluid(src=require('assets/img/icons/all-trading-platforms.svg'))
              p.icon-description.my-auto.ml-2 All Trading Platforms

        .col-lg-6
          ul
            li.icon-bar-item.d-flex.flex-row.mb-2
              img.img-fluid(src=require('assets/img/icons/3-way-trigger-system.svg'))
              p.icon-description.my-auto.ml-2 3-Way-Trigger-System
            li.icon-bar-item.d-flex.flex-row.mb-2
              img.img-fluid(src=require('assets/img/icons/trade-probability.svg'))
              p.icon-description.my-auto.ml-2 Trade Probability %
            li.icon-bar-item.d-flex.flex-row.mb-2
              img.img-fluid(src=require('assets/img/icons/FOREX-FUTURES-STOCKS.svg'))
              p.icon-description.my-auto.ml-2 FOREX, FUTURES, STOCKS, BONDS, BINARY OPTIONS

  .col-sm-5.col-lg-4.push-sm-1
    .card.pricing-card.fx-bolt.py-5.z-depth-2

      .header.proxima-nova-font.text-center
        .p-3.w-50.mx-auto
          object.info__fx(data=require('assets/img/logos/FX_bold_logo_blue_simple.svg') type='image/svg+xml')
        h3 FX Bolt
        p.display-3.pt-4.text-uppercase.text-primary $79
        h5.grey-text Monthly

      .card-block.m-auto
        .dropdown
          button.btn.btn-block.btn-info.btn-lg.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Dropdown
          .dropdown-menu
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
            a.dropdown-item(href='#') Separated link
        a.btn.btn-block.btn-danger.mt-3(href="#") Checkout

      .card-block.m-auto.proxima-nova-font.text-center
        p.card-text.grey-text.
          Get 2 months for free on a yearly subscription!

