.slider
	.owl-carousel.opacity-40(data-owl-nav='0' data-owl-dots='0' data-owl-autoplay='1' data-owl-fadeout='1' data-owl-loop='1')
		.image
			.bg-transfer(data-bg=require('assets/img/background-05.jpg'))
				//img(src=require('assets/img/background-05.jpg') alt='')
		.image
			.bg-transfer(data-bg=require('assets/img/background-06.jpg'))
				//img(src=require('assets/img/background-06.jpg') alt='')
		.image
			.bg-transfer(data-bg=require('assets/img/background-03.jpg'))
				//img(src=require('assets/img/background-03.jpg') alt='')
	// end owl-carousel
	.background-wrapper
		.background-color.background-color-black
	// end background-wrapper