section.block.background-is-dark
	.container
		.section-title.vertical-aligned-elements
			.element
				h2 Promoted Locations
			.element.text-align-right
				a.btn.btn-framed.btn-rounded.btn-default.invisible-on-mobile(href='#') Promote yours
				#gallery-nav
	.gallery.featured
		.owl-carousel(data-owl-items='6' data-owl-auto-width='1' data-owl-loop='1' data-owl-nav='1' data-owl-dots='1'
		data-owl-nav-container='#gallery-nav')
			- var n = 1;
				while n <= 31
					-var idCurrent = n++
					.item.featured(data-id=idCurrent)
						a(href='detail.html')
							.description
								figure
									| Average Price: $#{idCurrent} - $#{idCurrent}0
								.label.label-default Restaurant
								figure
									span
										i.fa.fa-calendar
										| 12.08.2016
									span
										i.fa.fa-clock-o
										| 08:00

								h3 Marky’s Restaurant
								h4 63 Birch Street
							.image.bg-transfer(data-bg=require('assets/img/items/'+idCurrent+'.jpg'))
						.additional-info
							.rating-passive(data-rating='4')
								span.stars
								span.reviews= idCurrent
							+controlsMore

	.background-wrapper
		.background-color.background-color-default
